

<!DOCTYPE html>
<html>
  <head>
    <title>FauxFlix - Watch TV Shows Online, Watch Movies Online</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script type="text/javascript">
      window.logoURL="<%= image_url("fauxflix_logo.png") %>"
      window.backgroundURL="<%= image_url("background.jpg") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
