

<!DOCTYPE html>
<html>
  <head>
    <title>FauxFlix - Watch TV Shows Online, Watch Movies Online</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta property="og:title" content="FauxFlix" />
    <meta property='og:image' content="<%= image_url('FauxFlix.gif') %>"/>
    <meta property="og:description"
       content="An interactive, dynamic, pixel-perfect video streaming site built from the ground up with Ruby on Rails, React, Postgres, and AWS."
     />
     <meta property="og:url"
       content="https://fauxflix.herokuapp.com/#/"
     />


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script type="text/javascript">
      window.logoURL="<%= image_url("fauxflix_logo.png") %>"
      window.backgroundURL="<%= image_url("background.jpg") %>"
      window.tvURL="<%= image_url("tv.gif") %>"
      window.handheldURL="<%= image_url("handheld.gif") %>"
      window.allDevicesURL="<%= image_url("allDevices.gif") %>"
      window.profile_pic="<%= image_url("profile_pic.png") %>"
      window.signup_devices="<%= image_url("signup_devices.png") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
