

<!DOCTYPE html>
<html>
  <head>
    <title>FauxFlix - Watch TV Shows Online, Watch Movies Online</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script type="text/javascript">
      window.logoURL="<%= image_url("fauxflix_logo.png") %>"
      window.backgroundURL="<%= image_url("background.jpg") %>"
      window.tvURL="<%= image_url("tv.gif") %>"
      window.handheldURL="<%= image_url("handheld.gif") %>"
      window.allDevicesURL="<%= image_url("allDevices.gif") %>"
      window.angellist="<%= image_url("lighter_angel_list_icon.png") %>"
      window.githubURL="<%= image_url("lighter_github_icon.png") %>"
      window.linkedinURL="<%= image_url("lighter_linkedin_icon.png") %>"
      window.personURL="<%= image_url("lighter_person_icon.png") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
